.gallery {
  position: relative;
  z-index: 1;
  padding-bottom: 16em;

  &__content {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    // margin-top: -60vh;
    padding-bottom: 2em;
    height: 100vh;
  }

  &__text-list {
    position: relative;
    margin-left: -0.5em;
  }

  &__text-item {
    position: absolute;
    left: 0%;
    right: auto;
    top: auto;
    bottom: 0%;
    font-size: 1em;
    opacity: 0;
    transition: opacity 100ms ease;
    pointer-events: none;

    p {
      position: relative;
      margin: 0;
      font-weight: 700;
      font-size: 13em;
      line-height: 0.8;
      letter-spacing: -0.04em;
      color: var(--color-text);

      @include small-tablet {
        font-size: 20vw;
      }
    }

    &.active {
      opacity: 1;
    }
  }

  &__images-wrap {
    position: relative;
    z-index: 2;
  }

  &__images-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 3.6em;

    @include small-tablet {
      justify-content: space-between;
    }
  }

  &__images-item {
    padding: 0.36em;

    &:nth-child(1) {
      margin-right: 6.25%;
      width: 25%;
    }

    &:nth-child(2) {
      margin-top: 20%;
      margin-right: 6.25%;
      width: 18.75%;
    }

    &:nth-child(3) {
      margin-top: 4%;
      width: 12.5%;
    }

    &:nth-child(4) {
      margin-top: 24%;
      width: 31.25%;
    }

    .gallery__images-wrap--more & {
      &:nth-child(5) {
        margin-top: -12%;
        margin-right: 6.25%;
        width: 31.25%;
      }

      &:nth-child(6) {
        margin-top: -8%;
        margin-right: 25%;
        width: 25%;
      }
    }

    @include small-tablet {
      margin-right: 0 !important;
      width: 45% !important;

      &:nth-child(odd) {
        margin-top: 10% !important;
      }
    }
  }

  &__element {
    position: relative;
    padding-top: 131%;
    width: 100%;

    img {
      position: absolute;
      left: 0%;
      top: 0%;
      right: 0%;
      bottom: 0%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
